@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}

.transition-theme {
    transition: color .15s ease, background .15s ease, background-color .15s ease !important;
}

div:active:focus,
button:active:focus,
input:active:focus {
    outline: none;
}

/* ─── SCROLLBAR ──────────────────────────────────────────────────────────────── */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}