.codex-editor ::selection,
* ::selection {
    background-color: #3298FD;
    color: #fff;
}

/* Embed */
.cdx-input.embed-tool__caption {
    text-align: center;
    outline: none;
    border: none;
    box-shadow: none;
}

/* Warning */

.cdx-input.cdx-warning__title {
    border: none;
}

.cdx-input.cdx-warning__content {
    border: none;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
    border-radius: 6px;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
    border-radius: 6px;
}

.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn {
    color: white;
}

.dark .ce-toolbar__plus:hover,
.dark .ce-toolbar__settings-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Base */

h2.ce-header {
    @apply text-3xl font-extrabold;
    margin-bottom: 8px;
}

h3.ce-header {
    @apply text-2xl font-bold;
    margin-bottom: 8px;
}

h4.ce-header {
    @apply text-xl font-bold;
    margin-bottom: 8px;
}

h5.ce-header {
    @apply text-lg font-semibold;
    margin-bottom: 8px;
}

h6.ce-header {
    @apply text-base font-semibold;
    margin-bottom: 8px;
}

.ce-inline-toolbar__dropdown svg {
    color: black;
}

.ce-inline-toolbar__buttons button {
    color: black;
}
.ce-conversion-toolbar__tools {
    color: black;
}